<div class="form">
  <img src="https://www.easel.ly/blog/wp-content/uploads/2019/05/text-vs-visuals-which-is-more-effective.png" alt="">
  <%= form_with( model: @article, local:true ) do |f|%>
    
    <p>
      <%= f.label :title %> <br/>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %> <br/>
      <%= f.text_area :description, :rows => 10 %>
    </p>

    <p>
      <%= f.submit %>
    </p>
    
  <%end%>
</div>